## Lists

In [356]:
animals = ["Lion", "Tiger", "Dog", "Elephant", "Cow"]

#### There are 5 animals in the list. Index starts from 0 goes upto 4. For list of size n, the index goes from 0 to n-1.

### Get animal at index 2

In [357]:
animals[2]

'Dog'

In [358]:
animals[-3]

'Dog'

#### The last element in the list will have index  n-1. It can also accessed with index -1. The second last will be -2 and so on. The first element can be accessed using index 0 or index -n.

In [359]:
animals[0]

'Lion'

In [360]:
animals[-5]

'Lion'

In [361]:
animals[4]

'Cow'

In [362]:
animals[-1]

'Cow'

### Slicing

list[start:stop:step]

In [363]:
first_ten_positions = [0,1,2,3,4,5,6,7,8,9,10]

#### Get from 3rd to 7th numbers

In [364]:
first_ten_positions[3:7]

[3, 4, 5, 6]

#### The list is named  first_ten_positions. The start index for slicing was 3. So the slicing starts with index 3. The stop index is 7 which mean it will slice till index 6.

In [365]:
first_ten_positions[7:3]

[]

In [366]:
first_ten_positions[10:10]

[]

In [367]:
first_ten_positions[10:11]

[10]

In [368]:
first_ten_positions[9:11]

[9, 10]

In [369]:
first_ten_positions[-2:-1]

[9]

#### what if we want to get the last element using negative index

In [370]:
first_ten_positions[-1:]

[10]

In [371]:
first_ten_positions[-2:]

[9, 10]

#### what if we dont give any value for start or stop

In [372]:
first_ten_positions[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### what is step. step is applied on index

In [373]:
first_ten_positions[::2]

[0, 2, 4, 6, 8, 10]

In [374]:
first_ten_positions[::3]

[0, 3, 6, 9]

In [375]:
animals

['Lion', 'Tiger', 'Dog', 'Elephant', 'Cow']

In [376]:
animals[::2]

['Lion', 'Dog', 'Cow']

### How to reverse a list using slicing

In [377]:
first_ten_positions[10:0]

[]

In [378]:
first_ten_positions[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [379]:
first_ten_positions[10:0:-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [380]:
animals[::-1]

['Cow', 'Elephant', 'Dog', 'Tiger', 'Lion']

In [381]:
animals[::-2]

['Cow', 'Dog', 'Lion']

### Combine two lists

In [382]:
next_ten_positions=[11,12,13,14,15,16,17,18,19,20]

In [383]:
next_ten_positions

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [384]:
next_ten_positions[0]

11

In [385]:
combined_list1 = first_ten_positions+next_ten_positions

In [386]:
combined_list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [387]:
combined_list2= first_ten_positions+animals

In [388]:
combined_list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Lion', 'Tiger', 'Dog', 'Elephant', 'Cow']

In [389]:
"test string"+[1,2,3]

TypeError: can only concatenate str (not "list") to str

In [ ]:
[1,2,3]*3

###  List membership using in

In [ ]:
animals

In [ ]:
'Dog' in animals

In [390]:
'dog' in animals

False

In [391]:
'Cat' in animals

False

#### length (no. of elements ) in the list

In [392]:
len(animals)

5

#### element having maximum value in a list

In [393]:
max([3,5,2,109,54,67])

109

#### element having minimum value in a list

In [394]:
min([3,5,2,109,54,67])

2

### Convert string to list

In [395]:
string_to_list = list('awesome song')
string_to_list

['a', 'w', 'e', 's', 'o', 'm', 'e', ' ', 's', 'o', 'n', 'g']

In [396]:
string_to_list[2]

'e'

### Delete element in a list

In [397]:
animals

['Lion', 'Tiger', 'Dog', 'Elephant', 'Cow']

In [398]:
animals[2]

'Dog'

In [399]:
del animals[2]

In [400]:
animals

['Lion', 'Tiger', 'Elephant', 'Cow']

In [401]:
string_to_list

['a', 'w', 'e', 's', 'o', 'm', 'e', ' ', 's', 'o', 'n', 'g']

In [402]:
string_to_list[2]

'e'

In [403]:
del string_to_list[2]

In [404]:
string_to_list

['a', 'w', 's', 'o', 'm', 'e', ' ', 's', 'o', 'n', 'g']

### Convert list to string

In [405]:
str(string_to_list)

"['a', 'w', 's', 'o', 'm', 'e', ' ', 's', 'o', 'n', 'g']"

In [406]:
list_to_string=""
list_to_string = list_to_string.join(string_to_list)
list_to_string

'awsome song'

### Replace elements in a list using slicing function

In [407]:
string_to_list

['a', 'w', 's', 'o', 'm', 'e', ' ', 's', 'o', 'n', 'g']

In [408]:
string_to_list[7:]

['s', 'o', 'n', 'g']

In [409]:
string_to_list[7:] = list('video')

In [410]:
string_to_list

['a', 'w', 's', 'o', 'm', 'e', ' ', 'v', 'i', 'd', 'e', 'o']

In [411]:
string_to_list[7:] = list('song')

In [412]:
string_to_list

['a', 'w', 's', 'o', 'm', 'e', ' ', 's', 'o', 'n', 'g']

In [413]:
string_to_list=string_to_list+[' ']+list('ever')
string_to_list

['a',
 'w',
 's',
 'o',
 'm',
 'e',
 ' ',
 's',
 'o',
 'n',
 'g',
 ' ',
 'e',
 'v',
 'e',
 'r']

In [414]:
string_to_list[7:11]

['s', 'o', 'n', 'g']

In [415]:
string_to_list[7:11] = list('video')

In [416]:
string_to_list

['a',
 'w',
 's',
 'o',
 'm',
 'e',
 ' ',
 'v',
 'i',
 'd',
 'e',
 'o',
 ' ',
 'e',
 'v',
 'e',
 'r']

### Count function

In [417]:
animals

['Lion', 'Tiger', 'Elephant', 'Cow']

In [418]:
animals.count('Lion')

1

In [419]:
animals=animals+['Cat','Zebra','Lion','Camel']

In [420]:
animals

['Lion', 'Tiger', 'Elephant', 'Cow', 'Cat', 'Zebra', 'Lion', 'Camel']

In [421]:
animals.count('Lion')

2

In [422]:
animals.count('Ox')

0

### Append function

In [423]:
animals

['Lion', 'Tiger', 'Elephant', 'Cow', 'Cat', 'Zebra', 'Lion', 'Camel']

In [424]:
animals.append('Rabbit')

In [425]:
animals

['Lion', 'Tiger', 'Elephant', 'Cow', 'Cat', 'Zebra', 'Lion', 'Camel', 'Rabbit']

### Extend function

In [426]:
new_animals = ['Cheetah','Pig','Buffalo']

In [427]:
animals.extend(new_animals)

In [428]:
animals

['Lion',
 'Tiger',
 'Elephant',
 'Cow',
 'Cat',
 'Zebra',
 'Lion',
 'Camel',
 'Rabbit',
 'Cheetah',
 'Pig',
 'Buffalo']

In [429]:
new_animals

['Cheetah', 'Pig', 'Buffalo']

In [430]:
new_animals.extend(animals)

In [431]:
new_animals

['Cheetah',
 'Pig',
 'Buffalo',
 'Lion',
 'Tiger',
 'Elephant',
 'Cow',
 'Cat',
 'Zebra',
 'Lion',
 'Camel',
 'Rabbit',
 'Cheetah',
 'Pig',
 'Buffalo']

### Get index of first occurence of a value

In [432]:
new_animals.index('Lion')

3

In [433]:
new_animals.index('Leopard')

ValueError: 'Leopard' is not in list

### Insert element in a list by index

In [434]:
animals = ["Lion", "Tiger", "Dog", "Elephant", "Cow"]

In [435]:
animals

['Lion', 'Tiger', 'Dog', 'Elephant', 'Cow']

In [436]:
animals.insert(2,'Rabbit')

In [437]:
animals

['Lion', 'Tiger', 'Rabbit', 'Dog', 'Elephant', 'Cow']

### Remove ELement in a list by value

In [438]:
new_animals

['Cheetah',
 'Pig',
 'Buffalo',
 'Lion',
 'Tiger',
 'Elephant',
 'Cow',
 'Cat',
 'Zebra',
 'Lion',
 'Camel',
 'Rabbit',
 'Cheetah',
 'Pig',
 'Buffalo']

In [439]:
new_animals.remove('Lion')

In [440]:
new_animals

['Cheetah',
 'Pig',
 'Buffalo',
 'Tiger',
 'Elephant',
 'Cow',
 'Cat',
 'Zebra',
 'Lion',
 'Camel',
 'Rabbit',
 'Cheetah',
 'Pig',
 'Buffalo']

#### Notice that remove function deleted only the first occurence of 'Lion'

### Reverse function

In [441]:
animals

['Lion', 'Tiger', 'Rabbit', 'Dog', 'Elephant', 'Cow']

In [442]:
animals.reverse()

In [443]:
animals

['Cow', 'Elephant', 'Dog', 'Rabbit', 'Tiger', 'Lion']

### Sort Function

In [444]:
animals

['Cow', 'Elephant', 'Dog', 'Rabbit', 'Tiger', 'Lion']

In [445]:
animals.sort()

In [446]:
animals

['Cow', 'Dog', 'Elephant', 'Lion', 'Rabbit', 'Tiger']