# String in Python

### Example1

In [2]:
"I am double qoutes"

'I am double qoutes'

In [3]:
'I am double qoutes'

'I am double qoutes'

In [4]:
if("I am double qoutes"=='I am double qoutes'):
    print("both are same")
else:
    print("both are different")

both are same

### Escape character

In [5]:
"That's my name"

"That's my name"

In [6]:
'That's my name'

SyntaxError: invalid syntax (<ipython-input-6-70db9ade6db5>, line 1)

In [7]:
'That\'s my name'

"That's my name"

#### The backslash in the string is called escape character

In [12]:
'escape character in string in python is \'

SyntaxError: EOL while scanning string literal (<ipython-input-12-fb312bb70327>, line 1)

In [14]:
'escape character in string in python is \ '

'escape character in string in python is \\ '

### Concatenate Strings

In [32]:
first_line = "Raindrops on roses"
second_line = "Whiskers on kittens"

In [33]:
combined_string1 = first_line+" "+second_line

In [34]:
print(combined_string1)

Raindrops on roses Whiskers on kittens

In [35]:
combined_string2 = first_line+"\n"+second_line

In [36]:
print(combined_string2)

Raindrops on roses
Whiskers on kittens

### Type cast number to string

In [37]:
duration =2

In [38]:
"movie is "+duration+" hours long"

TypeError: can only concatenate str (not "int") to str

In [39]:
"movie is "+str(duration)+" hours long"

'movie is 2 hours long'

### Repeat a string 10 times

In [44]:
"Good Sport. "*10

'Good Sport. Good Sport. Good Sport. Good Sport. Good Sport. Good Sport. Good Sport. Good Sport. Good Sport. Good Sport. '

### Check whether a string certain character

In [45]:
movie_duration = 'movie is 2 hours long'

In [46]:
'm' in movie_duration

True

In [47]:
' ' in movie_duration

True

In [48]:
'z' in movie_duration

False

### Sort within a string

In [49]:
sorted('Awesome song')

[' ', 'A', 'e', 'e', 'g', 'm', 'n', 'o', 'o', 's', 's', 'w']

### Format String

In [55]:
mystring = "%s is a/an %s actor"

In [56]:
name = 'Kamal'
rating = 'Excellent'
print(mystring % (name,rating))

Kamal is a/an Excellent actor

In [57]:
name = 'Powerstar'
rating = 'Poor'
print(mystring % (name,rating))

Powerstar is a/an Poor actor

### Find words in a string

In [61]:
mystring = "India is a very old civilization. People all around the world flocked into India."
mystring.find('is')

6